/.vs
/ParagonPioneers2ProductionCalculator/obj
/ParagonPioneers2ProductionCalculator/bin
ParagonPioneers2ProductionCalculator/ParagonPioneers2ProductionCalculator.csproj.user
ParagonPioneers2ProductionCalculator/Properties/PublishProfiles/FolderProfile.pubxml.user
/ParagonPioneers2ProductionCalculator/.vs
